* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

/* task 1 */
.div-btn {
  display: flex;
  justify-content: center;
}
.btn {
  padding: 15px 20px;
  margin-right: 10px;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
}

/* task  2 */

.timer {
  display: flex;
  margin-top: 20px;
}

.value {
  display: flex;
  font-size: 30px;
  margin-right: 15px;
  margin-left: 15px;
}

.label {
  text-transform: uppercase;
  font-size: 12px;
}

.field {
  display: block;
  text-align: center;
}
